*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    
}
:root{
    --dark-color: #092635;
    --light-color: #e6e6e6;
    --primary: #1B4242;
    --secondary: #5C8374;
    --trnary: #9EC8B9
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light-color);
    background-color: var(--dark-color);
}
.container{
    width: 90vw;
    background: var(--primary);
    border-radius: 10px;
    text-align: center;
}
header{
    background: var(--secondary);
    padding: 2rem;
    border-radius: 10px 10px 0 0;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    padding: 40px 0 ;
    font-weight: bold;
    font-size: 1.7rem;
    color: var(--light-color);
}
main .option {
    width: 90%;
    /*margin: 1.2rem auto;*/
    background: var(--trnary);
    padding: 1rem;
    border-radius: 10px;
    transition: .3s all;
    font-size: 1rem;
    font-weight: normal;
    color: var(--dark-color);
    font-size: 1.2rem;
}
footer{
    font-size: 1.2rem;
    font-weight: 600;
    background: var(--secondary);
    padding: 1.5rem;
    border-radius: 0 0 10px 10px;
}

@media only screen and (min-width: 767px) and (max-width: 992px){
    /*.container {background: yellow;}*/
    main{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
    }
    main .option{
        /*width: 45%;*/
        flex-basis: 45%;
        cursor: pointer;
    }
    main .option:hover{
        background: #b8b482;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1200px){
    .container {
        width: 80vw;
    }
    main{
        /*height: 25vh;*/
        padding: 3rem 0;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
    }
    main .option{
        flex-basis: 45%;
        cursor: pointer;
        padding: 1.2rem;
    }
    main .option:hover{
        background: #b8b482;
    }
}
@media only screen and (min-width: 1200px) {
    .container {
        width: 70vw;
    }
    main{
        /*height: 25vh;*/
        padding: 4rem 0;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
    }
    main .option{
        flex-basis: 45%;
        cursor: pointer;
        padding: 1.2rem;
    }
    main .option:hover{
        background: #b8b482;
    }
}